*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#07280f;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(0,0,0,.25);
backdrop-filter:blur(10px);
position:fixed;
width:100%;
top:0;
z-index:100;
}

.logo{
font-size:32px;
font-weight:700;
color:#ffb300;
}

.logo span{
color:white;
margin-left:8px;
}

.launch-btn{
text-decoration:none;
background:#ffb300;
padding:12px 22px;
border-radius:40px;
font-weight:600;
color:#111;
transition:.3s;
}

.launch-btn:hover{
transform:scale(1.05);
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
background:linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.55)),
url("https://images.unsplash.com/photo-1553279768-865429fa0078?w=1600");
background-size:cover;
background-position:center;
}

.glass{
background:rgba(255,255,255,.12);
backdrop-filter:blur(12px);
padding:45px;
border-radius:25px;
max-width:750px;
text-align:center;
}

.glass h3{
color:#ffcf4d;
letter-spacing:3px;
margin-bottom:20px;
}

.glass h1{
font-size:56px;
margin-bottom:20px;
}

.glass p{
font-size:18px;
line-height:32px;
color:#eee;
}

.buttons{
margin-top:35px;
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

.primary,
.secondary{
padding:15px 35px;
border-radius:40px;
text-decoration:none;
font-weight:600;
}

.primary{
background:#ffb300;
color:black;
}

.secondary{
border:2px solid white;
color:white;
}

.features{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
padding:70px 8%;
background:#0d3415;
}

.box{
background:#12441d;
padding:30px;
border-radius:18px;
text-align:center;
transition:.3s;
}

.box:hover{
transform:translateY(-10px);
}

.box h2{
margin:18px 0;
}

footer{
padding:30px;
text-align:center;
background:black;
color:#aaa;
}

@media(max-width:768px){

nav{
padding:18px;
}

.logo{
font-size:24px;
}

.glass{
padding:30px;
}

.glass h1{
font-size:36px;
}

.glass p{
font-size:16px;
line-height:28px;
}

}
